<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="{{hero.name}}">
  <ion-content class="padding">
    <div id="hero-detail-content" > 
      <!-- <img ng-src="./img/Hero/{{hero.shortname}}.png" style="width: 64px; height: 64px" />--> 
       <img ng-src="img/Hero/Aatrox/big.jpg" style=" width:100%; height:auto"/>
      <h4>技能介绍</h4>
      <div id="hero-detail-skill">
        <section>
          <ul ng-init="tab = 1" id="skill">
            <li ng-class="{active:tab===1}"> <a href ng-click="tab = 1"><img src="img/Hero/Aatrox/Aatrox_Passive.png"/></a></li><li ng-class="{active:tab===2}"> <a href ng-click="tab = 2"><img src="img/Hero/Aatrox/AatroxQ.png"/></a></li><li ng-class="{active:tab===3}"> <a href ng-click="tab = 3"><img src="img/Hero/Aatrox/AatroxW.png"/></a></li><li ng-class="{active:tab===4}"> <a href ng-click="tab = 4"><img src="img/Hero/Aatrox/AatroxE.png"/></a></li><li ng-class="{active:tab===5}"> <a href ng-click="tab = 5"><img src="img/Hero/Aatrox/AatroxR.png"/></a></li>
            <br>
          </ul>
          <div ng-show="tab === 1">
            <div class="skilltitle">
              <h5>{{hero.skilltitle_1}}</h5>
              <em>被动技能</em></div>
            <p class="skilltip">{{hero.skilltip_1}}</p>
          </div>
          <div ng-show="tab === 2">
            <div class="skilltitle">
              <h5>{{hero.skilltitle_2}}</h5>
              <em>快捷键：Q</em></div>
            <p class="skilltip">{{hero.skilltip_2}}</p>
            <ul class="skillstat">
              <li>{{hero.skillstat_2a}}</li>
              <li>{{hero.skillstat_2b}}</li>
              <li>{{hero.skillstat_2c}}</li>
              <li>{{hero.skillstat_2d}}</li>
            </ul>
          </div>
          <div ng-show="tab === 3">
            <div class="skilltitle">
              <h5>{{hero.skilltitle_3}}</h5>
              <em>快捷键：W</em></div>
            <p class="skilltip">{{hero.skilltip_3}}</p>
            <ul class="skillstat">
              <li>{{hero.skillstat_3a}}</li>
              <li>{{hero.skillstat_3b}}</li>
              <li>{{hero.skillstat_3c}}</li>
              <li>{{hero.skillstat_3d}}</li>
            </ul>
          </div>
          <div ng-show="tab === 4">
            <div class="skilltitle">
              <h5>{{hero.skilltitle_4}}</h5>
              <em>快捷键：E</em></div>
            <p class="skilltip">{{hero.skilltip_4}}</p>
            <ul class="skillstat">
              <li>{{hero.skillstat_4a}}</li>
              <li>{{hero.skillstat_4b}}</li>
              <li>{{hero.skillstat_4c}}</li>
              <li>{{hero.skillstat_4d}}</li>
            </ul>
          </div>
          <div ng-show="tab === 5">
            <div class="skilltitle">
              <h5>{{hero.skilltitle_5}}</h5>
              <em>快捷键：R</em></div>
            <p class="skilltip">{{hero.skilltip_5}}</p>
            <ul class="skillstat">
             <li>{{hero.skillstat_5a}}</li>
              <li>{{hero.skillstat_5b}}</li>
              <li>{{hero.skillstat_5c}}</li>
              <li>{{hero.skillstat_5d}}</li>
            </ul>
          </div>
        </section>
      </div>
      <br />
      
      <!--     <h4>背景故事</h4>
    
    <p>
     {{hero.bio}}
    </p>--> 
      
    </div>
  </ion-content>
</ion-view>
