<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="{{hero.name}}">
  <ion-content class="padding">
    <div id="hero-detail-content" > 
      <!-- <img ng-src="./img/Hero/{{hero.shortname}}.png" style="width: 64px; height: 64px" />--> 
       <img ng-src="img/Hero/Aatrox/big.jpg" style=" width:100%; height:auto"/>
      <h4>技能介绍</h4>
      <div id="hero-detail-skill">
        <section>
          <ul ng-init="tab = 1" id="skill">
            <li ng-class="{active:tab===1}"> <a href ng-click="tab = 1"><img src="img/Hero/Aatrox/Aatrox_Passive.png"/></a></li><li ng-class="{active:tab===2}"> <a href ng-click="tab = 2"><img src="img/Hero/Aatrox/AatroxQ.png"/></a></li><li ng-class="{active:tab===3}"> <a href ng-click="tab = 3"><img src="img/Hero/Aatrox/AatroxW.png"/></a></li><li ng-class="{active:tab===4}"> <a href ng-click="tab = 4"><img src="img/Hero/Aatrox/AatroxE.png"/></a></li><li ng-class="{active:tab===5}"> <a href ng-click="tab = 5"><img src="img/Hero/Aatrox/AatroxR.png"/></a></li>
            <br>
          </ul>
          <div ng-show="tab === 1">
            <div class="skilltitle">
              <h5>鲜血魔井</h5>
              <em>被动技能</em></div>
            <p class="skilltip">当使用消耗血量的技能时，亚托克斯会将生命消耗储存进血池。在受到致命伤害后，亚托克斯从血池中提取鲜血并在短时间内将之作为生命值回复。此外，魔井每储蓄2%的生命值，就会为亚托克斯提供1%攻击速度。</p>
          </div>
          <div ng-show="tab === 2">
            <div class="skilltitle">
              <h5>黑暗之跃</h5>
              <em>快捷键：Q</em></div>
            <p class="skilltip">亚托克斯纵身一跃然后猛击向目标位置，对落点中心的敌人造成70/115/160/205/250(+0.6)物理伤害和持续1秒的击飞效果。</p>
            <ul class="skillstat">
              <li>治疗效果：20/25/30/35/40</li>
              <li>额外伤害：60/95/130/165/200</li>
            </ul>
          </div>
          <div ng-show="tab === 3">
            <div class="skilltitle">
              <h5>血之渴望/血之报偿</h5>
              <em>快捷键：W</em></div>
            <p class="skilltip">关闭时：血之渴望：亚托克斯每第三次攻击会回复20/25/30/35/40(+0.25)生命值，此回复效果在半血以下时提升200%()。
              
              开启时：血之报偿：亚托克斯每第三次攻击会造成60/95/130/165/200(+1)额外物理伤害，同时他自身损失生命值。</p>
            <ul class="skillstat">
              <li>治疗效果：20/25/30/35/40</li>
              <li>额外伤害：60/95/130/165/200</li>
            </ul>
          </div>
          <div ng-show="tab === 4">
            <div class="skilltitle">
              <h5>痛苦利刃</h5>
              <em>快捷键：E</em></div>
            <p class="skilltip"> 亚托克斯释放剑气，对命中的敌人造成75/110/145/180/215(+0.6)(+0.6)魔法伤害并减少他们40%移动速度，持续1.75/2/2.25/2.5/2.75秒。</p>
            <ul class="skillstat">
              <li>伤害：75/110/145/180/215</li>
              <li>减速时长：1.75/2/2.25/2.5/2.75</li>
              <li>冷却时间：12/11/10/9/8</li>
            </ul>
          </div>
          <div ng-show="tab === 5">
            <div class="skilltitle">
              <h5>浴血屠戮</h5>
              <em>快捷键：R</em></div>
            <p class="skilltip">亚托克斯从敌人身上抽取血液，对附近的敌方英雄造成200/300/400(+1)魔法伤害。每命中一个英雄会使鲜血魔井提升20%的储量，并为亚托克斯提供40/50/60%攻速加成和175攻击距离加成，持续12秒。</p>
            <ul class="skillstat">
              <li>伤害：200/300/400</li>
              <li>攻击速度：40/50/60%</li>
              <li>冷却时间：100/85/70</li>
            </ul>
          </div>
        </section>
      </div>
      <br />
      
      <!--     <h4>背景故事</h4>
    
    <p>
     {{hero.bio}}
    </p>--> 
      
    </div>
  </ion-content>
</ion-view>
